<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Intech.NarimePalletizingSystem.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
 <!--       <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Intech.NarimePalletizingSystem.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>         -->
		
    </configSections>
    <applicationSettings>
        <Intech.NarimePalletizingSystem.UI.Properties.Settings>
            <setting name="Line1" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>0</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Line2" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>0</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Line3" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>0</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Line4" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>0</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Line5" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>0</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Line6" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>0</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Intech.NarimePalletizingSystem.UI.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Intech.NarimePalletizingSystem.UI.Properties.Settings>
            <setting name="ModelSpace" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormName" serializeAs="String">
                <value>Lixco</value>
            </setting>
        </Intech.NarimePalletizingSystem.UI.Properties.Settings>
    </userSettings>
</configuration>